@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smoother icons rendering */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
